# CONFIGURATION

DIR_SOURCE="./"
DIR_DESTINATION="../../prod/yenombot"
DIR_NAME_DESTINATION_IGNORE="dist/state" # inside DIR_DESTINATION, this files should be saved
DIR_BACKUP="../../prod/bkp" # subdir = current date
DIR_EXCLUDE=("node_modules" ".git") # do not copy / backup this directories ("./logs" was removed)
