# CONFIGURATION

DIR_SOURCE="./"
DIR_DESTINATION="../production/yenombot"
DIR_NAME_DESTINATION_IGNORE="dist/storage" # inside DIR_DESTINATION, this files should be saved
DIR_BACKUP="../production/bkp" # subdir = current date
DIR_EXCLUDE=("node_modules" ".git" "./logs") # directories not to copy / backup
